html, body {
    height: 100%; 
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 5vh;
    padding-bottom: 10vh;
}

.wrapper {
    margin: 0 auto;
    max-width: 800px;
    min-width: 350px;
    min-height: 262px;
    max-height: 600px;
    width: 100%;
    height: 100%;
    position: relative;
}

button {
    position: absolute;
    outline: none;
    height: 100%;
    width: 10%;
    border: none;
    background: rgba(255, 255, 255, 0.178);
    font-size: 3rem;
    color: rgb(255, 255, 255);
    transition: 0.3s linear
}

.btn-up {
    right: 0;
}

.btn-down {
    left: 0;
}

.slider {
    overflow: hidden;
}

.one {
    background-image: url('./img/1.jpg');
}

.two {
    background-image: url('./img/2.jpeg');
}

.three {
    background-image: url('./img/3.jpg');
}

.four {
    background-image: url('./img/4.jpeg');
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slide {
    display: none;
}

.slide.active {
    display: block;
}

.dots.active {
    background: rgba(248, 248, 248, 0.952);
}

.dots:active, button:active {
    background: rgba(196, 196, 196, 0.836);
}

.dots:hover {
    cursor: pointer;
    background: rgba(218, 218, 218, 0.584);
    transition: 0.3s linear
}


button:hover {
    cursor: pointer;
    background: rgba(226, 226, 226, 0.644);
}

.dots {
    width: 30px;
    height: 30px;
    background: rgba(202, 202, 202, 0.459);
    border-radius: 50%;
}

.dots-wrapper {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    justify-content: center;
    gap: 30px;
    padding-bottom: 10px;
}    